.advantages__title {
  font-weight: bold;
  color: $black;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__list {
  @include reset;
}

.advantages__text {
  text-align: center;
}
