.contacts__intro {
  margin-top: 46px;
}

.contacts__slogan {
  margin: 0;
}

.contacts__list {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__item--addres {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts__text {
  color: $color-accent;
  font-style: normal;
  font-weight: light;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}

.contacts__map-image {
  width: 100%;
  height: 100%;
}
