.container {
  width: auto;
  padding: 0 20px;

  @media (min-width: $table-width) {
    width: auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }
}
