.navigation__list {
  @include reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -78px;
  }
}

.navigation__item {
  @media (min-width: $desktop-width) {
    margin-right: 78px;
  }
}

.navigation__link {
  display: block;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    text-transform: capitalize;
  }
}
