.promo {
  background-color: $color-main;
  background-image: url("../img/promo-background-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
}

.promo__list {
  @include reset;
}

.promo__link {
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.promo__details {
  font-weight: light;
  font-size: 14px;
  line-height: 24px;
}
