.reviews__item {
  margin: 0;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
  color: $black;
  font-size: 18px;
  line-height: 30px;
}

.reviews__author-details {
  display: none;
}

.reviews__text {
  line-height: 30px;
}
